  <mat-grid-list cols="2" rowHeight="350px" gutterSize="32px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h6>{{card.title}}</h6>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item disabled>
                <mat-icon>notifications</mat-icon>
                <span>Alertas</span>
              </button>
              <button mat-menu-item>
                <mat-icon>add</mat-icon>
                <span>Adicionar</span>
              </button>
              <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Área de conteúdo.</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>