<mat-card>
  <mat-card-content>
    <h6 class="margin-top-4">Botões</h6>
    <section>
      <div class="example-button-row">
        <button mat-button>Disabled</button>

        <button mat-button color="danger" disabled>Disabled único</button>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Raised</div>
      <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="success">Success</button>
        <button mat-raised-button color="warning">Warning</button>
        <button mat-raised-button color="danger">Danger</button>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Stroked</div>
      <div class="example-button-row">
        <button mat-stroked-button>Basic</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="success">Success</button>
        <button mat-stroked-button color="warning">Warning</button>
        <button mat-stroked-button color="danger">Danger</button>
      </div>
    </section>
    <mat-divider></mat-divider>
    <section>
      <div class="example-label">Flat</div>
      <div class="example-button-row">
        <button mat-flat-button>Basic</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="success">Success</button>
        <button mat-flat-button color="warning">Warning</button>
        <button mat-flat-button color="danger">Danger</button>
      </div>
    </section>
    <mat-divider></mat-divider>
    <h6 class="margin-top-4">Icon</h6>
    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <button mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary">
            <mat-icon>bookmark</mat-icon>
          </button>
          <button mat-icon-button color="success" aria-label="Example icon button with a home icon">
            <mat-icon>home</mat-icon>
          </button>
          <button mat-icon-button color="warning" aria-label="Example icon button with a home icon">
            <mat-icon>person</mat-icon>
          </button>
          <button mat-icon-button color="danger">
            <mat-icon>favorite</mat-icon>
          </button>
        </div>
      </div>
    </section>
    <mat-divider class="margin-top-4"></mat-divider>
    <h6 class="margin-top-4">FAB</h6>
    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-fab>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-fab color="primary">
              <mat-icon>bookmark</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-fab color="success" aria-label="Example icon button with a home icon">
              <mat-icon>home</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-fab color="warning" aria-label="Example icon button with a home icon">
              <mat-icon>person</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-fab color="danger">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
    <mat-divider class="margin-top-4"></mat-divider>
    <mat-divider class="margin-top-4"></mat-divider>
    <h6 class="margin-top-4">Button Toggle</h6>
    <section class="margin-bottom-4">
      <div class="example-button-row">
        <div class="example-flex-container">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold">Bold</mat-button-toggle>
            <mat-button-toggle value="italic">Italic</mat-button-toggle>
            <mat-button-toggle value="underline">Underline</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    </section>

  </mat-card-content>
</mat-card>
