<mat-card>
  <mat-card-content>
    <h6>Em botões:</h6><br/>
    <div class="ss-grid">
      <div class="col-4">
        <button mat-raised-button matTooltip="Este é um Tooltip!" aria-label="Botão com Tooltip">
          Botão com Tooltip: Default
        </button>
      </div>
      <div class="col-4">
        <button mat-raised-button matTooltip="Este é um Tooltip!" aria-label="Botão com Tooltip"
          matTooltipPosition="above">
          Botão com Tooltip: Above
        </button>
      </div>
      <div class="col-4">
        <button mat-raised-button matTooltip="Este é um Tooltip!" aria-label="Botão com Tooltip"
          matTooltipPosition="below">
          Botão com Tooltip: Below
        </button>
      </div>
      <div class="col-4">
        <button mat-raised-button matTooltip="Este é um Tooltip!" aria-label="Botão com Tooltip"
          matTooltipPosition="left">
          Botão com Tooltip: Left
        </button>
      </div>
      <div class="col-4">
        <button mat-raised-button matTooltip="Este é um Tooltip!" aria-label="Botão com Tooltip"
          matTooltipPosition="right">
          Botão com Tooltip: Right
        </button>
      </div>
      <div class="col-12">
        <h6>Em links:</h6>
        <p>
          Link com <a matTooltip="Este é um Tooltip!" aria-label="Botão com Tooltip" href="https://www.google.com/"
            target="_blank">Tootip</a>
        </p>
      </div>
    </div>

  </mat-card-content>
</mat-card>
