/* You can add global styles to this file, and also import other style files */

.ss-navbar-info[_ngcontent-c4] .ss-navbar-logo-img[_ngcontent-c4] {
  margin-top: 1px !important;
}

.app-sidebar {
  height: min-content;
}

.ss-btn:disabled,
input:disabled {
  filter: var(--opacity-intense) !important;
}

.app-sidebar-header,
.app-sidebar-body,
.app-sidebar-footer {
  padding: var(--spacing-xxxs);
  background: var(--color-surface-background-low);
}

.ss-input-icon-left,
.ss-input-icon-right {
  position: absolute;
  padding: var(--spacing-nano);
  border-radius: 3px !important;
  background: var(--color-surface-support-6-medium);
  color: var(--color-surface-text-default-low) !important;
}

.ngx-pagination .current {
  background: var(--color-brand-main) !important;
  border-radius: var(--border-radius-lg) !important;
  margin-right: var(--spacing-quarck);
}

.ngx-pagination .disabled:hover {
  border-radius: var(--spacing-xs) !important;
}

.ngx-pagination a,
.ngx-pagination button {
  cursor: pointer;
  background-color: #e0e0e0 !important;
  color: var(--color-surface-text-default-medium) !important;
  border-radius: var(--border-radius-lg) !important;
  margin-right: var(--spacing-quarck);
}

.ngx-pagination {
  float: right;
  padding-left: var(--spacing-nano) !important;
}

.ngx-pagination .pagination-next a:after,
.ngx-pagination .pagination-next.disabled:after {
  content: "" !important;
  margin-left: var(--spacing-none) !important;
}

.ngx-pagination .pagination-previous a:before,
.ngx-pagination .pagination-previous.disabled:before {
  content: "" !important;
  margin-left: var(--spacing-none) !important;
  margin-right: var(--spacing-none) !important;
}

.mydp .btnclear,
.mydp .btndecrease,
.mydp .btnincrease,
.mydp .btnpicker,
.mydp .headertodaybtn {
  background: var(--color-surface-support-6-medium) !important;
}

.mydp .btnclear,
.mydp .btndecrease,
.mydp .btnincrease,
.mydp .btnpicker,
.mydp .headerbtn,
.mydp .headermonthtxt,
.mydp .headertodaybtn,
.mydp .headeryeartxt,
.mydp .yearchangebtn {
  color: var(--color-surface-text-highlight-low) !important;
}

.mydp .icon-mydptoday {
  color: var(--color-surface-text-highlight-low) !important;
  font-size: 11px;
}

.ss-select:after {
  top: 30px !important;
}

.mydp .icon-mydpdown,
.mydp .icon-mydpleft,
.mydp .icon-mydpright,
.mydp .icon-mydpup {
  font-size: 20px;
  color: var(--color-surface-text-default-medium) !important;
}

.small {
  font-size: 100% !important;
}

.ss-input-icon-right {
  cursor: pointer !important;
}

// balao do evento de excluir gleba demarcada(poligono)
.divisaoBalao {
  text-align: center;
  padding-bottom: var(--spacing-xxxs);
  border-bottom: var(--border-width-hairline) solid
    var(--color-surface-stroke-medium);
  border-color: var(--color-brand-dusky);
  font-size: 20px;
}

.ss-table table th {
  min-width: 50px !important;
  font-size: var(--font-size-xs);
}

.ss-table table th,
.ss-table table td {
  min-height: 50px !important;
  font-size: var(--font-size-xs);
}

@media screen and (width >= 1000px) {
  .ss-toolbar[_ngcontent-c7] .ss-toolbar-item[_ngcontent-c7] {
    width: 100%;
  }
}
@media screen and (width >= 1500px) {
  .ss-toolbar[_ngcontent-c7] .ss-toolbar-item[_ngcontent-c7] {
    width: 100px;
  }
}
@media screen and (width >= 768px) {
  .ss-toolbar[_ngcontent-c7] .ss-toolbar-item[_ngcontent-c7] {
    border-right: unset;
    width: 100% !important;
  }
}

/* stylelint-disable selector-type-no-unknown */
sc-container-glebas-vinculadas sc-mapa#mapa-imovel div#container-mapa {
  height: 49% !important;
  width: 98% !important;
  margin: var(--spacing-none) !important;
  padding: 0 var(--spacing-nano) 0 var(--spacing-xxs) !important;
}

.gmnoprint {
  margin-top: var(--spacing-nano) !important;
}

.ss-modal-medium-width {
  width: 20% !important;
  margin-top: 7% !important;
}

.ss-group-inline .ss-btn {
  width: 47% !important;
  margin: var(--spacing-quarck) var(--spacing-none) var(--spacing-quarck)
    var(--spacing-quarck) !important;
}

.ss-toolbar[_ngcontent-c7] .ss-toolbar-item[_ngcontent-c7] {
  min-width: 0 !important;
}

.app-grid {
  grid-template-columns: 104px auto minmax(auto, 410px) !important;
}

// .ss-grid {
//   grid-gap: 11px!important;
// }
.container-mapa[_ngcontent-c21] {
  height: 83% !important;
  width: 98% !important;
  position: relative !important;
  margin: var(--spacing-none) !important;
}

.tamanho-template {
  min-width: 800px !important;
}

.app-content {
  padding: var(--spacing-none) !important;
}

/* MARK: Toolbar */
::ng-deep {
  .ss-toolbar {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    background-color: var(--color-surface-background-low);
    position: relative;

    .ss-toolbar-item {
      font-size: var(--font-size-xs);
      line-height: normal;
      width: auto;
      min-width: 104px;
      min-height: 80px;
      padding: var(--spacing-nano);
      border-bottom: var(--border-width-hairline) solid
        var(--color-surface-stroke-low);
      border-right: var(--border-width-hairline) solid
        var(--color-surface-stroke-low);
      color: var(--color-surface-text-default-medium);
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      word-wrap: anywhere;
      word-break: break-word;
      transition: all 0.2s ease-in;
      cursor: pointer;

      .icon {
        font-size: var(--font-size-xl);
      }

      span {
        margin-top: var(--spacing-quarck);
        line-height: 0.9rem;
        display: block;
        word-wrap: break-word;
      }

      &:hover {
        background: var(--color-function-primary-lightest);
      }

      &.active {
        color: var(--color-function-primary-default);
        position: relative;
        background: var(--color-function-primary-lightest);

        span {
          color: var(--color-function-primary-default);
        }

        &:after {
          content: "";
          display: block;
          width: 60%;
          height: 2px;
          background-color: var(--color-function-primary-action);
          position: absolute;
          bottom: var(--spacing-none);
        }
      }
    }
  }
}
